@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.notification {
    animation: fadeIn 1s ease-in;
}

.notification.hide{
    animation: fadeOut 1s ease-out;
}

